@import "tailwindcss";

/* Light Theme */
.theme-light {
  @apply bg-white text-black font-sans;
}
.theme-light select {
  @apply bg-gray-50 text-black border-none;
}

/* Dark Theme */
.theme-dark {
  @apply bg-gray-900 text-gray-100 font-serif font-bold;
}
.theme-dark select {
  @apply bg-gray-900 text-gray-100 border-none;
}

/* Colorful Theme */
.theme-colorful {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  background: linear-gradient(90deg, #f472b6 0%, #facc15 50%, #34d399 100%);
  color: #fff;
}
.theme-colorful select {
  @apply bg-yellow-300 text-black border-none;
}
